<template name='home'>
	<div class='container-fluid'>
		<div class='jumbotron'>
			<h1>Welcome to OpenContract</h1>
			<p>If you're a returning user please enter your public key here:</p>
			<div class='input-group'>
				<input type='text' class='form-control' placeholder='Public Key'>
			</div>
			<h1>Description</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc diam libero, fermentum vel blandit id, commodo at ex. Proin lacus libero, pulvinar id libero eget, porttitor pharetra diam. Quisque sodales posuere malesuada. Proin porttitor feugiat velit, vel dictum neque commodo quis. Phasellus id venenatis sem, in aliquet justo. Fusce eget justo massa. Cras consequat tortor orci. Phasellus lacus lacus, tincidunt eget diam ac, efficitur porta eros. Fusce sodales justo sit amet massa posuere elementum. Vestibulum posuere et nisl id tempus. Nam consequat leo at sapien tristique, vel dapibus risus scelerisque. Donec quis est nisi.

			Cras id cursus nisl. Ut bibendum aliquet diam at tristique. Donec hendrerit, quam at vulputate auctor, massa magna placerat ex, varius iaculis mauris nisi in massa. Vivamus aliquet eleifend arcu id fermentum. Curabitur non felis a purus consequat tempus non id eros. Aenean orci leo, mattis vel sollicitudin quis, tincidunt ut nisi. Sed volutpat placerat justo ut ullamcorper.

			Ut molestie arcu sit amet augue ultrices tempor. Donec feugiat vestibulum dolor quis molestie. Curabitur sit amet orci placerat, laoreet leo sed, vulputate nunc. Aliquam molestie mi nec enim volutpat aliquam. In lobortis congue est. Phasellus molestie neque nulla. Curabitur at ipsum at erat sollicitudin ullamcorper sed et odio. Maecenas vitae dignissim sem. Sed accumsan, urna vel fringilla convallis, dolor metus scelerisque felis, quis malesuada magna odio nec ante. Curabitur nisl arcu, rhoncus at lobortis at, tempor a tellus. Phasellus eu neque id nibh fringilla pellentesque. Cras at venenatis ligula, nec consequat velit. Ut efficitur sem nunc, sit amet pharetra orci elementum sit amet.

			Aliquam non hendrerit erat, ut semper nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam erat sapien, eleifend nec nibh pretium, auctor condimentum nisi. Nam ultrices viverra lacus sit amet accumsan. Nullam et ante eget justo suscipit vulputate. Aenean viverra enim vitae lectus hendrerit, eget laoreet tortor porttitor. Donec quis mattis purus. Fusce a elementum dolor. Ut in erat odio. Suspendisse vehicula quam at metus suscipit scelerisque. Sed ut risus accumsan, tempor erat sit amet, aliquet neque. Pellentesque ultricies nisi quis arcu iaculis, sed aliquam ante aliquam. Donec tempor ex ut tellus volutpat ornare. Integer volutpat ex sed risus ornare, eu suscipit nunc accumsan.

			Nulla facilisi. Donec iaculis metus sit amet facilisis blandit. Nunc sit amet arcu neque. Pellentesque est massa, consectetur eget semper sed, ullamcorper malesuada ligula. Donec tincidunt quam et magna varius, ac pretium purus cursus. In nec nisl mollis, pulvinar erat ac, iaculis nisl. Nunc fringilla sem in ipsum dignissim condimentum. Morbi vel elementum est. Vivamus elementum ipsum id eleifend finibus.</p>
		</div>
	</div>
</template>