body {
	font-family : "Lato";
	font-weight : "300";
}

#navBar {
	text-align: right;
	border: none;
	margin-top: 0.5cm;
	margin-bottom: 30px;
	color: gray;
}

.dialog {
	width: 700px;
	height: 600px;
	margin: auto;
	padding: 20px;
	background-color: #CFD8DC;
	border-radius: 5px;
}

#dropzoneDiv {
	vertical-align: center;
	padding-top: 100px;
}

.centerText {
	text-align: center;
	padding: auto;
	margin: auto;
}

.buttonSpan {
	width: 100%;
	margin: auto;
	vertical-align: center;
	padding: auto;
	text-align: center;
}

.submitContract {
	margin: 20px;
}
